
.container-fluid {
    overflow: hidden;
}

.img-fluid{
    margin-top: -23rem;
    margin-left: 2rem;
}
.list-inline{
    color: rgb(67, 160, 236);
    text-align: center;

}
.list-inline a{
    text-decoration: none;
}
#nav{
    background-color: white;
}
.article{
    padding-top: 5rem;
    background-color: aqua
}